.reveal {
  font-family: "Helvetica Neue", "Avenir", "San Francisco", "Futura", sans-serif;
  font-size: 30px;
  line-height: 1.6;
  color: #044875; /* Apply color to all text inside .reveal */
}

.reveal h1, .reveal h2, .reveal h3 {
  font-weight: bold;
  color: #044875
}





